In [4]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [5]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [6]:
index_count = 0

for letter in 'abcde':
    print('at index {} the letter is {}'. format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [9]:
# index_count = 0
word = 'abcde'

# for letter in word:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [14]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = ['v','w','x','y','z']

In [15]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 'v')
(2, 'b', 'w')
(3, 'c', 'x')
(4, 'd', 'y')
(5, 'e', 'z')

In [16]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [17]:
'x' in [1,2,3]

False

In [18]:
'x' in ['x','y','z']

True

In [19]:
'a' in 'a world'

True

In [20]:
'mykey' in {'mykey':345}

True

In [21]:
d = {'mykey':345}
345 in d.values()

True

In [23]:
mylist = [10,20,30,40,50,100]

In [24]:
min(mylist)

10

In [25]:
max(mylist)

100

In [26]:
from random import shuffle

In [27]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [32]:
shuffle(mylist)

In [33]:
mylist

[2, 8, 9, 1, 5, 6, 3, 4, 10, 7]

In [34]:
from random import randint

In [39]:
randint(0,100)

35

In [40]:
mynum = randint(0,100)

In [41]:
mynum

66

In [43]:
result = input('Enter a number here: ')

Enter a number here: 99

In [44]:
result

'99'

In [45]:
type(result)

str

In [46]:
float(result)

99.0

In [47]:
int(result)

99

In [48]:
result = int(input('Enter a number here: '))

Enter a number here: 50

In [49]:
result

50

In [50]:
type(result)

int